* {
    font-family: 'Roboto', sans-serif;
}

.form-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 18px;
}

.form-group {
    margin: 20px;
}

#title, #description, #excerpt, #pageCount {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}

#title:focus, #description:focus, #excerpt:focus, #pageCount:focus {
    border: none;
    border-bottom: 1px solid black;
}

.invalid-feedback {
    color: red;
    font-weight: bold;
}

#btns {
    display: flex;
    justify-content: center;
}

button {
    padding: 7px 15px;
    margin: 5px;
}